#introsection{
    color: white;
    display: grid;
grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    flex-direction: column;


    align-items: center;
    background: center/cover no-repeat url("../templets/redd-9o8YdYGTT64-unsplash.jpg") ;
    height: 602px;
    background-color: red;
}
@media only screen and (max-width: 800px) {
    #introsection{
        height: 1400px;
    }
  }
.ppp{
    display: block;
    width: 80%;
    text-align: center;
    justify-content: center;
   
    
}
@media only screen and (max-width: 800px) {
    .ppp{
        margin-top: 50px;
    }
    }
  
.ppp a{
    display: block;
    width: 80%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: auto;
    border-radius: 10px;
    /* border: 1px solid rgb(10, 10, 10); */
  }
  
  .ppp a:hover{
  box-shadow: 3px 3px 8px rgb(59, 59, 59);
  background-image: linear-gradient(to right, #fffb00 , rgb(121, 52, 95));
   color: rgb(255, 255, 255);
   /* border-bottom: rgb(0, 0, 0) solid 2px; */
   /* font-size: 30px; */
   transition-duration: 0.25s;
   border: white 1px solid;
   
}
 .foot{
   background-color: black;
   color: white;
   text-align: center;
   margin-bottom: 0px;
 }
 .foot h3{
   color: whitesmoke;
 }